name: PayPal API Tests

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt


      - name: Create .env
        run: |
          mkdir -p tests
          echo "PAYPAL_CLIENT_ID=${{ secrets.PAYPAL_CLIENT_ID }}" >> tests/.env
          echo "PAYPAL_SECRET=${{ secrets.PAYPAL_SECRET }}" >> tests/.env
          echo "PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com" >> tests/.env
      

      - name: Run tests
        run: pytest tests/ -v --alluredir=allure-results


      - name: Generate & Deploy Allure
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_report: allure-report
          allure_history: allure-history
          gh_pages: gh-pages


      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
